.form-container2{
    width: 50%;
    margin-right: 2em;
    margin-top: 8em;
}
.panels-container2{
    background-color: #ff725E;
    border-radius:0 80% 0 ;
      width: 60%;
     height: 57.2em;
    margin-top: -20em;
    margin-right: -15em;
}
.main2{
    width: 30em;
    margin-top: 25em;
    margin-right: 18em;
}