.table-body{
    background-color: #bdcdd5;
    min-height: 100vh;
}
.table-titre{
    font-weight: bold;
    font-size: 2rem;
    color: #053f5c;
    
}
.table__header{
    background-color: #fff;
    width: 90%;
    margin: 2em auto;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
}

.table__body{
    background-color: #fff;
    margin: -1.8em auto;
    width: 94.7%;
    height: 75vh;
    overflow: auto;
}
.table-body table{
     border-collapse: collapse;
     width: 100%;
}
.th-date{
    margin-left: -1.5em;
}
.td-date{
padding-left: 3em;
}
.td-heure{
    padding-left: 3em;
}
.table-body th,td{
    padding: 1rem 1.5rem;
}
.table-body th{
    color: #053f5c;
    border-bottom: 2px solid #0000000b ;
    background-color: #0000000b;
}

.btn-table{
    background-color: #053f5cad;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    color: #fff;
}

.table-body tr:nth-child(even){
    background-color: #053f5c11;
}
.table-body tr:hover{
    background-color:#053f5cad ;
    color: #fff
}

.affaire td{
    padding-left: 3.5em;
}
.flex{
    display: flex;
}